doctype
html( lang="en" )
    head
        title Clothing Store
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compatible', content='IE=edge' )
        meta( name='viewport', content='width=device-width, initial-scale=1.0' )
        meta( name='description', content='Clothing Store with Jade' )
        link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
        link(rel='stylesheet', href='/stylesheets/style.css')
    body(style="padding-bottom:10rem;")
        h4.titlePage Please add items to the catalogue
        <br/>
        .row
            .col-md-6
                form(method='POST' action='/products/addProduct')
                    .input
                        label(for="productId") Product Id:
                        input#productId.form-control(type="text", name="productId")
                    .input
                        label(for="productName") Product Name:
                        input#productName.form-control(type="text", name="productName")
                    .input
                        label(for="price") Price:
                        input#price.form-control(type="text", name="price")
                    .input
                        label(for="description") Desription:
                        input#description.form-control(type="text", name="description")
                    <br/>
                    .actions
                        input#Add.btn.btn-primary(type="submit", value="Add Product")
        <br/>
        ul.list-group
            each product in listOfProducts
                .row 
                    li.list-group-item.col-md-2.productName= product.productName 
                    li.list-group-item.col-md-2= product.description
                    li.list-group-item.col-md-2= product.price
        script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
        script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )